smp-xml/src/main/xsd/XmlCBEDataTypesSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
//=============================================================================
//
//  FILE INFO
//    $Id: XmlCBEDataTypesSchema.xsd,v 1.2 2006/04/26 20:23:59 sorinelc Exp $
//
//  DESCRIPTION
//
//  REVISION HISTORY
//  *  Based on CVS log
//
//  Copyright (c) 1993 - 2006 Sigma Systems Canada Inc. All rights reserved.
//=============================================================================
-->
<schema targetNamespace="http://java.sun.com/products/oss/xml/CBE/DataTypes" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:common="http://java.sun.com/products/oss/xml/Common" xmlns:cbe-datatypes="http://java.sun.com/products/oss/xml/CBE/DataTypes" xmlns:cbe-core="http://java.sun.com/products/oss/xml/CBE/Core" elementFormDefault="qualified">
	<complexType name="TimePeriod">
		<sequence>
			<element name="startDateTime" type="cbe-datatypes:CbeDateTime" nillable="true" minOccurs="0"/>
			<element name="endDateTime" type="cbe-datatypes:CbeDateTime" nillable="true" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="Quantity">
		<sequence>
			<element name="quantity" type="string" nillable="true" minOccurs="0"/>
			<element name="units" type="string" nillable="true" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="OrganizationName">
		<sequence>
			<element name="tradingName" type="string" nillable="true" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="Identity">
		<sequence>
			<element name="type" type="string" nillable="true" minOccurs="0"/>
			<element name="value" type="string" nillable="true" minOccurs="0"/>
			<element name="validFor" type="cbe-datatypes:TimePeriod" nillable="true" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="IndividualName">
		<sequence>
			<element name="formOfAddress" type="string" nillable="true" minOccurs="0"/>
			<element name="givenName" type="string" nillable="true" minOccurs="0"/>
			<element name="preferredGivenName" type="string" nillable="true" minOccurs="0"/>
			<element name="middleName" type="string" nillable="true" minOccurs="0"/>
			<element name="familyNamePrefix" type="string" nillable="true" minOccurs="0"/>
			<element name="familyName" type="string" nillable="true" minOccurs="0"/>
			<element name="familyGeneration" type="string" nillable="true" minOccurs="0"/>
		</sequence>
	</complexType>
	<element name="baseLifeCycleStatus" type="string"/>
	<element name="lifeCycleStatus" type="cbe-datatypes:LifeCycleStatus" substitutionGroup="cbe-datatypes:baseLifeCycleStatus"/>
	<simpleType name="LifeCycleStatus">
		<restriction base="string">
			<enumeration value="ACTIVE"/>
			<enumeration value="INACTIVE"/>
			<enumeration value="PLANNED"/>
		</restriction>
	</simpleType>
	<complexType name="ArrayOfIndividualName">
		<sequence>
			<element name="item" type="cbe-datatypes:IndividualName" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="ArrayOfOrganizationName">
		<sequence>
			<element name="item" type="cbe-datatypes:OrganizationName" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="ArrayOfIdentity">
		<sequence>
			<element name="item" type="cbe-datatypes:Identity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<element name="baseCbeDateTime" type="string"/>
	<element name="cbeDateTime" type="cbe-datatypes:CbeDateTime" substitutionGroup="cbe-datatypes:baseCbeDateTime"/>
	<simpleType name="CbeDateTime">
		<restriction base="string"/>
	</simpleType>
</schema>
