voucher-client/docs/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://voucher.smarttv.dk/">

    <xs:complexType name="vodTransactionRequestObject">
        <xs:sequence>
            <xs:element name="asset" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="correlator" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="customer" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="drm_id" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="provider" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="system" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="voucher" type="xs:string" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="vodTransactionReplyObject">
        <xs:sequence>
            <xs:element name="code" type="xs:int"></xs:element>
            <xs:element name="correlator" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="description" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="session_id" type="xs:int"></xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>