smp5-xml/src/main/xsd/XmlCBELocationSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
//=============================================================================
//
//  FILE INFO
//    $Id: XmlCBELocationSchema.xsd,v 1.2 2006/04/26 20:23:59 sorinelc Exp $
//
//  DESCRIPTION
//
//  REVISION HISTORY
//  *  Based on CVS log
//
//  Copyright (c) 1993 - 2006 Sigma Systems Canada Inc. All rights reserved.
//=============================================================================
-->
<schema targetNamespace="http://java.sun.com/products/oss/xml/CBE/Location" xmlns:cbe-core="http://java.sun.com/products/oss/xml/CBE/Core" xmlns:cbe-datatypes="http://java.sun.com/products/oss/xml/CBE/DataTypes" xmlns:cbe-location="http://java.sun.com/products/oss/xml/CBE/Location" xmlns:cbeparty="http://java.sun.com/products/oss/xml/CBE/Party" xmlns:common="http://java.sun.com/products/oss/xml/Common" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<import namespace="http://java.sun.com/products/oss/xml/CBE/Core" schemaLocation="XmlCBECoreSchema.xsd"/>
	<import namespace="http://java.sun.com/products/oss/xml/CBE/DataTypes" schemaLocation="XmlCBEDataTypesSchema.xsd"/>
	<import namespace="http://java.sun.com/products/oss/xml/Common" schemaLocation="XmlCommonSchema.xsd"/>
	<complexType name="MSAGAddress">
		<sequence>
			<element name="houseNrPref" type="string" nillable="true" minOccurs="0"/>
			<element name="houseNr" type="string" nillable="true" minOccurs="0"/>
			<element name="houseNrSuf" type="string" nillable="true" minOccurs="0"/>
			<element name="preDirectional" type="string" nillable="true" minOccurs="0"/>
			<element name="streetNm" type="string" nillable="true" minOccurs="0"/>
			<element name="streetNmSuf" type="string" nillable="true" minOccurs="0"/>
			<element name="postDirectional" type="string" nillable="true" minOccurs="0"/>
			<element name="city" type="string" nillable="true" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="GeographicLocationValue">
		<complexContent>
			<extension base="cbe-location:LocationValue">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="LocationKey">
		<complexContent>
			<extension base="common:ManagedEntityKey">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="LocationValue">
		<complexContent>
			<extension base="cbe-core:EntityValue">
				<sequence>
					<element name="identities" type="cbe-datatypes:Identity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					<element name="validFor" type="cbe-datatypes:TimePeriod" nillable="true" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="FormattedAddress">
		<sequence>
			<element name="addrLn1" type="string" nillable="true" minOccurs="0"/>
			<element name="addrLn2" type="string" nillable="true" minOccurs="0"/>
			<element name="addrLn3" type="string" nillable="true" minOccurs="0"/>
			<element name="addrLn4" type="string" nillable="true" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="UrbanPropertyAddress">
		<sequence>
			<element name="streetNumberFirst" type="string" nillable="true" minOccurs="0"/>
			<element name="streetNumberFirstSuffix" type="string" nillable="true" minOccurs="0"/>
			<element name="streetNumberLast" type="string" nillable="true" minOccurs="0"/>
			<element name="streetNumberLastSuffix" type="string" nillable="true" minOccurs="0"/>
			<element name="streetName" type="string" nillable="true" minOccurs="0"/>
			<element name="streetType" type="string" nillable="true" minOccurs="0"/>
			<element name="streetSuffix" type="string" nillable="true" minOccurs="0"/>
			<element name="locality" type="string" nillable="true" minOccurs="0"/>
			<element name="municipality" type="string" nillable="true" minOccurs="0"/>
			<element name="postalCode" type="string" nillable="true" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="GeographicAddressValue">
		<complexContent>
			<extension base="cbe-location:LocationValue">
				<sequence>
					<element name="country" type="string" nillable="true" minOccurs="0"/>
					<element name="stateOrProvince" type="string" nillable="true" minOccurs="0"/>
					<element name="formattedGeographicAddress" type="cbe-location:FormattedAddress" nillable="true" minOccurs="0"/>
					<element name="urbanPropertyGeographicAddress" type="cbe-location:UrbanPropertyAddress" nillable="true" minOccurs="0"/>
					<element name="msagAddress" type="cbe-location:MSAGAddress" nillable="true" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ArrayOfLocationKey">
		<sequence>
			<element name="item" type="cbe-location:LocationKey" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
