smp5-xml/src/main/xsd/XmlCBECoreSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
//=============================================================================
//
//  FILE INFO
//    $Id: XmlCBECoreSchema.xsd,v 1.2 2006/04/26 20:23:59 sorinelc Exp $
//
//  DESCRIPTION
//
//  REVISION HISTORY
//  *  Based on CVS log
//
//  Copyright (c) 1993 - 2006 Sigma Systems Canada Inc. All rights reserved.
//=============================================================================
-->
<schema targetNamespace="http://java.sun.com/products/oss/xml/CBE/Core" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:common="http://java.sun.com/products/oss/xml/Common" xmlns:cbeparty="http://java.sun.com/products/oss/xml/CBE/Party" xmlns:cbe-location="http://java.sun.com/products/oss/xml/CBE/Location" xmlns:cbe-service="http://java.sun.com/products/oss/xml/CBE/Service" xmlns:sa="http://java.sun.com/products/oss/xml/ServiceActivation" xmlns:cbe-datatypes="http://java.sun.com/products/oss/xml/CBE/DataTypes" xmlns:cbecross="http://java.sun.com/products/oss/xml/CBE/Cross" xmlns:inv="http://java.sun.com/products/oss/xml/Inventory" xmlns:cbeproduct="http://java.sun.com/products/oss/xml/CBE/Product" xmlns:cbe-resource="http://java.sun.com/products/oss/xml/CBE/Resource" xmlns:cbe-core="http://java.sun.com/products/oss/xml/CBE/Core" elementFormDefault="qualified">
	<import namespace="http://java.sun.com/products/oss/xml/Common" schemaLocation="XmlCommonSchema.xsd"/>
	<complexType name="HierarchicalPrimaryKey">
		<sequence>
			<element name="rdn" type="string" nillable="true" minOccurs="0"/>
			<element name="parentDn" type="string" nillable="true" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="AssociationKey">
		<complexContent>
			<extension base="common:ManagedEntityKey">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="AssociationKeyResult">
		<complexContent>
			<extension base="common:ManagedEntityKeyResult">
				<sequence>
					<element name="associationKey" type="cbe-core:AssociationKey" nillable="true" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="AssociationRule">
		<sequence>
			<element name="associationType" type="string" nillable="true" minOccurs="0"/>
			<element name="aEndRole" type="string" nillable="true" minOccurs="0"/>
			<element name="zEndRole" type="string" nillable="true" minOccurs="0"/>
			<element name="aEndCardinality" type="cbe-core:Cardinality" nillable="true" minOccurs="0"/>
			<element name="zEndCardinality" type="cbe-core:Cardinality" nillable="true" minOccurs="0"/>
			<element name="aEndType" type="string" nillable="true" minOccurs="0"/>
			<element name="zEndType" type="string" nillable="true" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="AssociationRuleViolationException">
		<complexContent>
			<extension base="common:IllegalStateException">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="AssociationValue">
		<complexContent>
			<extension base="cbe-core:CBEManagedEntityValue"/>
		</complexContent>
	</complexType>
	<element name="baseCBECoreType" type="string"/>
	<element name="cBECoreType" type="cbe-core:CBECoreType" substitutionGroup="cbe-core:baseCBECoreType"/>
	<simpleType name="CBECoreType">
		<restriction base="string">
			<enumeration value="ENTITY"/>
			<enumeration value="SPECIFICATION"/>
			<enumeration value="ASSOCIATION"/>
		</restriction>
	</simpleType>
	<complexType name="CBEManagedEntityValue">
		<complexContent>
			<extension base="common:ManagedEntityValue">
				<sequence>
					<element name="subGraphId" type="long" nillable="true" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Cardinality">
		<sequence>
			<element name="minNumber" type="int" nillable="true" minOccurs="0"/>
			<element name="maxNumber" type="int" nillable="true" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="EntityKey">
		<complexContent>
			<extension base="common:ManagedEntityKey">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="EntityKeyResult">
		<complexContent>
			<extension base="common:ManagedEntityKeyResult">
				<sequence>
					<element name="entityKey" type="cbe-core:EntityKey" nillable="true" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="EntitySpecificationKey">
		<complexContent>
			<extension base="common:ManagedEntityKey">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="EntitySpecificationKeyResult">
		<complexContent>
			<extension base="common:ManagedEntityKeyResult">
				<sequence>
					<element name="entitySpecificationKey" type="cbe-core:EntitySpecificationKey" nillable="true" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="EntitySpecificationValue">
		<complexContent>
			<extension base="cbe-core:CBEManagedEntityValue">
				<sequence>
					<element name="describedEntityType" type="string" nillable="true" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="EntityValue">
		<complexContent>
			<extension base="cbe-core:CBEManagedEntityValue">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ArrayOfCBEManagedEntityValue">
		<sequence>
			<element name="item" type="cbe-core:CBEManagedEntityValue" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="ArrayOfAssociationValue">
		<sequence>
			<element name="item" type="cbe-core:AssociationValue" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="ArrayOfAssociationKey">
		<sequence>
			<element name="item" type="cbe-core:AssociationKey" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="ArrayOfEntityKey">
		<sequence>
			<element name="item" type="cbe-core:EntityKey" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="ArrayOfEntityValue">
		<sequence>
			<element name="item" type="cbe-core:EntityValue" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="ArrayOfEntitySpecificationValue">
		<sequence>
			<element name="item" type="cbe-core:EntitySpecificationValue" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="ArrayOfEntitySpecificationKey">
		<sequence>
			<element name="item" type="cbe-core:EntitySpecificationKey" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="ArrayOfAssociationKeyResult">
		<sequence>
			<element name="item" type="cbe-core:AssociationKeyResult" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="ArrayOfEntityKeyResult">
		<sequence>
			<element name="item" type="cbe-core:EntityKeyResult" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="ArrayOfEntitySpecificationKeyResult">
		<sequence>
			<element name="item" type="cbe-core:EntitySpecificationKeyResult" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
